<head>
<title>Funnel</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

	<link rel="stylesheet" type="text/css" href="/static/css/app-6d4e8b2e3f96114de5fb0c0cbd71dae951e5911f709e9308b7716623de589169.min.css">

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/sticky-footer-navbar.css">
	<link rel="stylesheet" href="/static/css/base-custom.css">
	<link rel="shortcut icon" href="/static/img/funnel_icon.png">
</head>
