<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}
  <div id="content-containter">
    <h1>New Job</h1>

    <form action="/" accept-charset="UTF-8" method="post">

      <div class="card card-body bg-light col-sm-12">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="job_source">Source</label>
          <div class="col-sm">
            <input class="form-control" type="text" name="job[source]" id="job_source" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="job_destination">Destination</label>
          <div class="col-sm">
            <input class="form-control" type="text" name="job[destination]" id="job_destination" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="job_Run Interval">Run interval</label>
          <div class="col-sm">
            <select class="form-control" name="job[interval]" id="job_interval">
              <option selected="selected" value="minutes">minutely</option>
              <option value="hours">hourly</option>
              <option value="days">daily</option>
              <option value="months">monthly</option>
            </select>
            <small class="form-text text-muted">On what sort of interval should this job be re-run?</small>
            <small class="form-text text-muted">Minutely and hourly are presented to facilitate development and testing purposes only.</small>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="job_Run Frequency">Run frequency</label>
          <div class="col-sm">
            <input class="form-control" type="number" name="job[frequency]" id="job_frequency" />
            <small class="form-text text-muted">How often will this job will be re-run?</small>
          </div>
        </div>
      </div>

      <br>

      <div class="actions">
        <input type="submit" class="btn btn-dark" value="Save">
      </div>
    </form>
  </div>

  {{template "footer.tmpl.html"}}
</body>
</html>
